.head {
  height: 80px;
  background-color: #181818;
}
.head .logo {
  margin-left: 90px;
  float: left;
  padding-top: 16px;
}
.head .logo img {
  width: 170px;
  height: 47px;
}
.head .nav {
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  width: 630px;
}
.head .nav li {
  float: left;
  margin-right: 60px;
}
.head .nav li a {
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.head .nav li a i {
  width: 18px;
  height: 18px;
  display: inline-block;
  vertical-align: -0.2em;
  background: url("../images/index/num.png") no-repeat;
}
.head .nav li span {
  display: block;
  font-size: 13px;
  color: #939393;
}
.head .login {
  float: left;
  margin-left: 80px;
  text-align: center;
  margin-top: 20px;
}
.head .login .right {
  text-align: left;
  margin-top: 5px;
  margin-left: 10px;
}
.head .login .right a {
  display: block;
  font-size: 12px;
  color: #cdb8ac;
}
.head .login span {
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
}
.head .view {
  float: left;
  margin-left: 30px;
  line-height: 80px;
}
.head .view span {
  display: inline-block;
  width: 19px;
  height: 14px;
  vertical-align: -0.2em;
  background: url("../images/index/xin.png");
}
.head .view a {
  display: inline-block;
  color: #ffffff;
  font-size: 14px;
}
.banner {
  position: relative;
  height: 1080px;
  background: url("../images/fight/bg02.png") center no-repeat;
}
.banner .content {
  height: 285px;
  width: 1000px;
  position: absolute;
  left: 180px;
  top: 502px;
}
.banner .content .text {
  text-align: center;
  color: #ffffff;
}
.banner .content .text .big {
  font-size: 28px;
  margin-top: 10px;
}
.banner .content .text .small {
  font-size: 21px;
  margin-top: 10px;
}
.banner .content .choose {
  margin-top: 20px;
  overflow: hidden;
}
.banner .content .choose .cho {
  color: #ffffff;
  float: left;
  font-size: 16px;
}
.banner .content .choose .play {
  width: 155px;
  cursor: pointer;
  float: right;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  height: 42px;
  background: url("../images/fight/btn.png") no-repeat;
}
.banner .content .tanchu {
  position: absolute;
  top: -250px;
  left: 50%;
  margin-left: -363px;
  background-color: #ffffff;
  padding: 40px;
  width: 620px;
  height: 410px;
  border-radius: 10px;
}
.banner .content .tanchu .one {
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}
.banner .content .tanchu .words {
  color: #444444;
  width: 610px;
  border-bottom: 1px solid #eaeaea;
  height: 160px;
  line-height: 21px;
  font-size: 13px;
}
.banner .content .tanchu .lose {
  color: #444444;
  margin-top: 20px;
  line-height: 21px;
  font-size: 13px;
}
.banner .content .tanchu .lose a {
  color: #e29d5a;
  text-decoration: underline;
}
.banner .content .tanchu span {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url("../images/fight/cha.png") no-repeat;
  width: 15px;
  height: 15px;
}
.banner .content .mate {
  margin-top: 20px;
  overflow: hidden;
}
.banner .content .mate ul {
  width: 20%;
  float: left;
  height: 130px;
}
.banner .content .mate ul .top {
  height: 80px;
}
.banner .content .mate ul .top p {
  line-height: 38px;
}
.banner .content .mate ul .top .activity {
  text-align: center;
  color: #ffffff;
  font-size: 16px;
}
.banner .content .mate ul .top .free {
  text-align: center;
}
.banner .content .mate ul .top .free i {
  width: 26px;
  vertical-align: -0.6em;
  display: inline-block;
  height: 26px;
  background: url("../images/fight/money.png") no-repeat;
}
.banner .content .mate ul .top .free span {
  display: inline-block;
  font-size: 18px;
  color: #ffdc61;
}
.banner .content .mate ul .top .free .big {
  font-size: 28px;
}
.banner .content .mate ul .btm {
  height: 50px;
}
.banner .content .mate ul a {
  color: #ffffff;
  display: block;
  font-size: 15px;
  line-height: 50px;
  text-align: center;
}
.banner .content .mate .first {
  background: rgba(107, 107, 107, 0.5);
}
.banner .content .mate .two {
  background: rgba(249, 145, 44, 0.5);
}
.banner .content .mate .three {
  background: rgba(255, 119, 77, 0.5);
}
.banner .content .mate .four {
  background: rgba(146, 135, 255, 0.5);
}
.banner .content .mate .five {
  background: rgba(184, 117, 236, 0.5);
}
.banner .content .mate .f-btm {
  background-color: #6b6b6b;
}
.banner .content .mate .t-btm {
  background-color: #f9912c;
}
.banner .content .mate .three-btm {
  background-color: #ff774d;
}
.banner .content .mate .four-btm {
  background-color: #9287ff;
}
.banner .content .mate .five-btm {
  background-color: #b875ec;
}
.banner .footer {
  height: 210px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.banner .footer .foot-box {
  padding-top: 30px;
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}
.banner .footer .foot-box .pic {
  float: left;
}
.banner .footer .foot-box .pic img {
  width: 242px;
  height: 63px;
}
.banner .footer .foot-box .about {
  width: 340px;
  margin-top: 10px;
  font-size: 16px;
  color: #cdb5a3;
  text-align: center;
  line-height: 30px;
  float: left;
  height: 60px;
  border-right: 1px solid #6a5749;
}
.banner .footer .foot-box .about li {
  float: left;
  width: 150px;
}
.banner .footer .foot-box .contact {
  width: 185px;
  padding-left: 60px;
  margin-top: 10px;
  float: left;
}
.banner .footer .foot-box .contact li {
  width: 100%;
  text-align: left;
  line-height: 30px;
}
.banner .footer .foot-box .contact li i {
  display: inline-block;
  width: 22px;
  height: 21px;
  margin-right: 10px;
  vertical-align: -0.5em;
  background: url("../images/fight/weixin.png") no-repeat;
}
.banner .footer .foot-box .contact li a {
  font-size: 14px;
  color: #cdb5a3;
}
.banner .footer .foot-box .contact li .qq {
  width: 19px;
  height: 23px;
  background: url("../images/fight/qq.png") no-repeat;
}
.banner .footer .foot-box .tel {
  float: left;
  position: relative;
  margin-left: 70px;
  margin-top: 10px;
  height: 50px;
  width: 220px;
  background: url("../images/index/tel.png") no-repeat;
}
.banner .footer .foot-box .tel p {
  position: absolute;
  color: #cdb5a3;
  font-size: 13px;
  top: 30px;
  right: 0;
}
.banner .footer .last {
  color: #d2c6b8;
  margin-top: 50px;
  text-align: center;
}
